@import (inline) "fancybox.css";
@import (inline) "carousel.css";
@import (inline) "panzoom.css";
@import (inline) "panzoom.controls.css";

.f-carousel {
    --f-button-width: 36px;
    --f-button-height: 36px;
    --f-button-border-radius: 4px;
}

.f-button:hover, .f-button:active {
    background-color: var(--button-bg-hover);
}

.f-carousel__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fancybox-gallery, a[data-fancybox="single"] > img {
    border: 1px solid #e8ecf3;
    border-radius: 4px;
}

a[data-fancybox="single"], a[data-fancybox="gallery"] {
    display: flex; 
    border-bottom: none !important;
}